<extend name="Common:index" />
<block name="main">
	<table class="table-form">
		<tr class="tr-header">
			<th width="50">ID</th>
			<th width="100">联系人</th>
			<th width="150">openid</th>
			<th width="80">赞</th>
			<th width="180">开始时间</th>
		</tr>
		<volist name="lists" id="hd">
		<tr>
			<td>{$hd.hdid}</td>
			<td><a href="{:U('editzan',array('hdid'=>$hd['hdid']))}">{$hd.name}</a></td>
			<td>{$hd.openid}</td>
			<td>{$hd.zan}</td>
			<td>{$hd.starttime|date="Y-m-d",###}</td>
		</tr>
		</volist>
		<tr class="tr-btn">
			<td colspan="5"><div class="pages">{$page}</div></td>
		</tr>
	</table>
</block>