<extend name="Common:index" />
<block name="main">
	<table class="table-form">
		<tr class="tr-header">
			<th width="50">ID</th>
			<th width="100">联系人</th>
			<th width="350">详细信息</th>
			<th width="60">邮编</th>
			<th width="60">电话</th>
			<th width="80">状态</th>
			<th width="180">领奖时间</th>
			<th>发奖时间</th>
		</tr>
		<volist name="lists" id="fj">
		<tr>
			<td>{$fj.fjid}</td>
			<td>{$fj.lxr}</td>
			<td>{$fj.xxdz}</td>
			<td>{$fj.yb}</td>
			<td>{$fj.tel}</td>
			<td><if condition="$fj.status == 0"><a href="{:U('updatefj',array('fjid'=>$fj['fjid']))}" class="color_red">未发奖</a><else /><span class="color_green">已发奖</span></if></td>
			<td>{$fj.inputtime|date="Y-m-d H:i:s",###}</td>
			<td>{$fj.endtime|date="Y-m-d H:i:s",###}</td>
		</tr>
		</volist>
		<tr class="tr-btn">
			<td colspan="8"><div class="pages">{$page}</div></td>
		</tr>
	</table>
</block>