<extend name="Common:index" />
<block name="main">
	<form action="{:U()}" class="form-box" method="post">
		<input type="hidden" name="wxid" value="{$wxcon.wxid}">
		<div class="form-group">
			<label for="appid" class="item-label">APPID：<span class="color_9"> 必须填写</span></label>
			<input type="text" name="appid" value="{$wxcon.appid}" class="input-text">
		</div>
		<div class="form-group">
			<label for="appsecret" class="item-label">appsecret：<span class="color_9"> 必须填写</span></label>
			<input type="text" name="appsecret" value="{$wxcon.appsecret}" class="input-text">
		</div>
		<div class="form-group">
			<label for="rzurl" class="item-label">认证URL：<span class="color_9"> 必须填写</span></label>
			<input type="text" name="rzurl" value="{$wxcon.rzurl}" class="input-text">
		</div>
		<div class="form-group">
			<label for="Token" class="item-label">Token：<span class="color_9"> 必须填写</span></label>
			<input type="text" name="token" value="{$wxcon.token}" class="input-text">
		</div>
		<div class="form-group">
			<button type="submit" name="dosubmit" class="btn-success">提交</button><button type="reset" name="reset" class="btn-error">重填</button>
		</div>
	</form>
</block>