<extend name="Common:index" />
<block name="main">
	<form action="{:U()}" class="form-box" method="post">
		<input type="hidden" name="menuid" value="{$info.menuid}">
		<div class="form-group">
			<label for="parentid" class="item-label">父菜单：</label>
			<select name="parentid" id="">
				<option value="0">一级菜单</option>
				<volist name="list" id="list">
					<option value="{$list.menuid}"<if condition="$list[menuid] == $info[parentid]"> selected</if>>{$list.nbsp}{$list.name}</option>
				</volist>
			</select>
		</div>
		<div class="form-group">
			<label for="name" class="item-label">菜单名称：</label>
			<input type="text" name="name" class="input-text" value="{$info.name}">
		</div>
		<div class="form-group">
			<label for="module" class="item-label">模块：</label>
			<input type="text" name="module" class="input-text" value="{$info.module}">
		</div>
		<div class="form-group">
			<label for="controller" class="item-label">控制器：</label>
			<input type="text" name="controller" class="input-text" value="{$info.controller}">
		</div>
		<div class="form-group">
			<label for="action" class="item-label">方法：</label>
			<input type="text" name="action" class="input-text" value="{$info.action}">
		</div>
		<div class="form-group">
			<label for="data" class="item-label">参数：</label>
			<input type="text" name="data" class="input-text" value="{$info.data}">
		</div>
		<div class="form-group">
			<label for="listorder" class="item-label">排序：</label>
			<input type="text" name="listorder" class="input-sm input-text" value="{$info.listorder}">
		</div>
		<div class="form-group">
			<label for="display" class="item-label">是否显示：</label>
			<input type="radio" name="display"<if condition="$info[display] == 1"> checked="checked"</if> class="input-radio" value="1"> 是
			<input type="radio" name="display"<if condition="$info[display] == 0"> checked="checked"</if> class="input-radio" value="0"> 否
		</div>
		<div class="form-group">
			<button type="submit" name="dosubmit" class="btn-success">提交</button><button type="reset" name="reset" class="btn-error">重填</button>
		</div>
	</form>
</block>