<?php
    if(C('LAYOUT_ON')) {
        echo '{__NOLAYOUT__}';
    }
?>
<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="utf-8" />
	<title>网贷门户问答系统</title>
	<!-- IE最新兼容 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 国产浏览器高速 -->
	<meta name="renderer" content="webkit">
	<!-- 移动设备禁止缩放 -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />

	<link rel="icon" type="image/png" href="__ROOT__/Static/Common/img/favicon.png">

	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="__ROOT__/Static/Common/img/app.png">

	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="李" />
	<link rel="apple-touch-icon-precomposed" href="__ROOT__/Static/Common/img/app.png">

	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="__ROOT__/Static/Common/img/app.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<!--[if gt IE 9]>
	<script src="__ROOT__/Static/Common/js/html5.js"></script>
	<script src="__ROOT__/Static/Common/js/respond.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="__ROOT__/Static/Index/images/reset.css" />
</head>

<body>
<style>
	.system-message {border: #008EE1 solid 1px; width: 500px; height: 200px; margin: 150px auto 0; text-align: center; position: relative;}
	h1 {background-color: #2FB5F2; height: 2em; line-height: 2em; font-size: 1.2em; color: #FFF; font-weight: normal;}
	.system-message p {margin-top: 30px;}
	.jump {position: absolute; left: 0; right: 0; bottom: 0; background-color: #eee; color: #888;}
</style>

<div class="system-message">
<h1>跳转信息</h1>
<?php if(isset($message)) {?>
<p class="success"><?php echo($message); ?></p>
<?php }else{?>
<p class="error"><?php echo($error); ?></p>
<?php }?>
<!-- <p class="detail">您走错地方了~回去重来吧</p> -->
<footer class="jump">
页面自动 <a id="href" href="<?php echo($jumpUrl); ?>">跳转</a> 等待时间： <b id="wait"><?php echo($waitSecond); ?></b>
</footer>
</div>
<script type="text/javascript">
(function(){
var wait = document.getElementById('wait'),href = document.getElementById('href').href;
var interval = setInterval(function(){
	var time = --wait.innerHTML;
	if(time <= 0) {
		location.href = href;
		clearInterval(interval);
	};
}, 1000);
})();
</script>


</body>
</html>