<extend name="Common:index" />
<block name="main">
	<form action="{:U()}" class="form-box" method="post">
		<div class="form-group">
			<label for="msgtype" class="item-label">回复类型：<span class="color_9"> 必须填写</span></label>
			<select name="msgtype" id="" class="msgtype">
				<option value="">回复类型</option>
				<foreach name="typelist" item="tname">
					<option value="{$key}">{$tname}</option>
				</foreach>
			</select>
		</div>
		<div class="form-group">
			<label for="msgcon" class="item-label">关键字：<span class="color_9"> 必须填写</span></label>
			<input type="text" name="msgcon" class="input-text">
		</div>
		<div class="form-group">
			<label for="title" class="item-label">回复标题：<span class="color_9"> 必须填写</span></label>
			<input type="text" name="title" class="input-text">
		</div>
		<div class="images hidden">
			<div class="form-group">
				<label for="mediaid" class="item-label">多媒体素材：<span class="color_9"> 回复图片消息时填写图片地址，其它消息填写微信mediaid，都可以在素材管理中找到</span></label>
				<input type="text" name="mediaid" class="input-text">
			</div>
		</div>
		<!-- 音乐 -->
		<div class="music_div hidden">
			<div class="form-group">
				<label for="music_url" class="item-label">音乐链接：<span class="color_9"> 直接填写URL</span></label>
				<input type="text" name="music_url" class="input-text">
			</div>
			<div class="form-group">
				<label for="hq_music_url" class="item-label">高品质音乐链接：<span class="color_9"> 直接填写URL</span></label>
				<input type="text" name="hq_music_url" class="input-text">
			</div>
		</div>
		<div class="form-group">
			<label for="content" class="item-label">回复内容：<span class="color_9"> 当普通文本框，必须填写</span></label>
			<textarea name="content" id="content_edit" style="width:46%" rows="5"></textarea>
		</div>
		<div class="url hidden">
			<div class="form-group">
				<label for="url" class="item-label">回复链接：<span class="color_9"> url，必须填写</span></label>
				<input type="text" name="url" class="input-text">
			</div>
		</div>
		<div class="form-group">
			<button type="submit" name="dosubmit" class="btn-success">提交</button><button type="reset" name="reset" class="btn-error">重填</button>
		</div>
	</form>
	<script>
		$(function(){
			$('.msgtype').change(function(){
				$('.music_div ,.url ,.images').hide();
				switch($(this).val()){
					case 'music':
						$('.music_div ,.images').show();
						break;
					case 'news':
						$('.url ,.images').show();
						break;
					case 'image':
						$('.images').show();
						break;
					case 'voice':
						$('.images').show();
						break;
					case 'video':
						$('.images').show();
						break;
					default:
						$('.music_div ,.url ,.images').hide();
						break;
				}
			});
		});
	</script>
</block>