<extend name="Common:index" />
<block name="main">
	<table class="table-form">
		<tr class="tr-header">
			<th width="50">ID</th>
			<th width="200">用户昵称</th>
			<th width="350">openid</th>
			<th width="60">性别</th>
			<th>关注时间</th>
		</tr>
		<volist name="lists" id="wxuser">
		<tr>
			<td>{$wxuser.userid}</td>
			<td>{$wxuser.wxnick}</td>
			<td>{$wxuser.openid}</td>
			<td><if condition="$wxuser[wxxb] == 1"><span class="color_green">男</span></if><if condition="$wxuser[wxxb] == 2"><span class="color_red">女</span></if></td>
			<td>{$wxuser.gztime|date="Y-m-d H:i:s",###}</td>
		</tr>
		</volist>
		<tr class="tr-btn">
			<td colspan="6"><div class="pages">{$page}</div></td>
		</tr>
	</table>
</block>