<extend name="Common:index" />
<block name="main">
	<form action="{:U()}" class="form-box" method="post">
	<input type="hidden" name="artid" value="{$infos.artid}">
		<div class="form-group">
			<label for="catname" class="item-label">请选择栏目：<span class="color_9"> 必须填写</span></label>
			<select name="catid" id="catid">
				<option value="">请选择</option>
				<foreach item="cat" name="catname">
				<option value="{$key}"<if condition="$key == $infos['catid']"> selected="selected"</if>>{$cat.catname}</option>
				</foreach>
			</select>
		</div>
		<div class="form-group">
			<label for="title" class="item-label">文章标题：<span class="color_9"> 必须填写</span></label>
			<input type="text" name="title" class="input-text" value="{$infos.title}">
		</div>
		<div class="form-group">
			<label for="keyword" class="item-label">文章关键字：<span class="color_9"> 请以一个逗号 , 隔开</span></label>
			<input type="text" name="keyword" class="input-text" value="{$infos.keyword}">
		</div>
		<div class="form-group">
			<label for="description" class="item-label">文章描述：</label>
			<textarea name="description" cols="60" rows="4">{$infos.description}</textarea>
		</div>
		<div class="form-group">
			<label for="thumb" class="item-label">文章图片：</label>
			<div class="clearfix">
				<input type="text" name="thumb" id="url3" value="{$infos.thumb}" class="input-text f_l">
				<input type="button" class="btn-upload f_l ml10" id="image3" value="选择图片" />
			</div>
		</div>
		<div class="form-group">
			<label for="content" class="item-label">文章内容：<span class="color_9"> 必须填写</span></label>
			<textarea name="content" id="content_edit" style="width:96%" rows="20">{$infos.content}</textarea>
		</div>
		<div class="form-group">
			<label for="listorder" class="item-label">排序：</label>
			<input type="text" name="listorder" value="{$infos.listorder}" class="input-sm">
		</div>
		<div class="form-group">
			<label for="islink" class="item-label">是否外链接：</label>
			<input type="radio" name="islink" <if condition="$infos['islink'] == 1">checked="checked" </if>class="input-radio" value="1"> 是
			<input type="radio" name="islink" <if condition="$infos['islink'] == 0">checked="checked" </if>class="input-radio" value="0"> 否
		</div>
		<div class="form-group">
			<label for="url" class="item-label">链接地址：</label>
			<input type="text" name="url" value="{$infos.url}" class="input-text">
		</div>
		<div class="form-group">
			<label for="posid" class="item-label">推荐位：</label>
			<foreach name="posname" item="pos">
			<input type="checkbox" name="posid" value="{$key}" <if condition="$infos['posid'] == $key">checked="checked" </if>> {$pos}
			</foreach>
		</div>
		<!-- <div class="form-group">
			<label for="status" class="item-label">状态：</label>
			<input type="radio" name="status" <if condition="$infos['status'] == 1">checked="checked" </if>class="input-radio" value="1"> 正常
			<input type="radio" name="status" <if condition="$infos['status'] == 0">checked="checked" </if>class="input-radio" value="0"> 隐藏
		</div> -->
		<div class="form-group">
			<button type="submit" name="dosubmit" class="btn-success">提交</button><button type="reset" name="reset" class="btn-error">重填</button>
		</div>
	</form>
	<script>
		KindEditor.ready(function(K) {
                window.editor = K.create('#content_edit', {
	                uploadJson : "{:U('Mzsj/Attr/kindupload')}",
	                extraFileUploadParams: {
						session_id : '{:session_id()}'
                    }
	       		});
                K('#image3').click(function() {
					editor.loadPlugin('image', function() {
						editor.plugin.imageDialog({
							showRemote : false,
							imageUrl : K('#url3').val(),
							clickFn : function(url, title, width, height, border, align) {
								K('#url3').val(url);
								editor.hideDialog();
							}
						});
					});
				});
        });
	</script>
</block>